USE [master]
GO
/****** Object:  Database [QuanLyKhachSan_K235480106070]    Script Date: 4/27/2026 9:53:32 PM ******/
CREATE DATABASE [QuanLyKhachSan_K235480106070]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan_K235480106070', FILENAME = N'E:\csdl_he_quan_tri\QuanLyKhachSan_K235480106070.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_K235480106070_log', FILENAME = N'E:\csdl_he_quan_tri\QuanLyKhachSan_K235480106070_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan_K235480106070].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan_K235480106070]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeDatPhong]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ThongKeDatPhong]
()
RETURNS @Result TABLE
(
    KhachHangId INT,
    PhongId INT,
    SoNgay INT,
    TongTien MONEY
)
AS
BEGIN
    INSERT INTO @Result
    SELECT 
        dp.KhachHangId,
        dp.PhongId,
        DATEDIFF(DAY, dp.NgayNhanPhong, dp.NgayTraPhong) AS SoNgay,
        DATEDIFF(DAY, dp.NgayNhanPhong, dp.NgayTraPhong) * p.GiaPhong AS TongTien
    FROM [DatPhong] dp
    JOIN [Phong] p ON dp.PhongId = p.PhongId;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTien]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongTien]
(
    @NgayNhan DATETIME,
    @NgayTra DATETIME,
    @GiaPhong DECIMAL(12,2)
)
RETURNS MONEY
AS
BEGIN
    DECLARE @SoNgay INT;
    DECLARE @TongTien MONEY;

    SET @SoNgay = DATEDIFF(DAY, @NgayNhan, @NgayTra);

    IF (@SoNgay <= 0)
        SET @SoNgay = 1;

    SET @TongTien = @SoNgay * @GiaPhong;

    RETURN @TongTien;
END;
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[PhongId] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](50) NULL,
	[GiaPhong] [decimal](12, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachPhongGiaCao]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DanhSachPhongGiaCao]
(
    @GiaMin DECIMAL(12,2)
)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM [Phong]
    WHERE [GiaPhong] >= @GiaMin
);
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[DatPhongId] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [int] NOT NULL,
	[PhongId] [int] NOT NULL,
	[NgayNhanPhong] [datetime] NOT NULL,
	[NgayTraPhong] [datetime] NOT NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[DatPhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangId] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[NgaySinh] [date] NULL,
	[DiemTichLuy] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatPhong] ON 

INSERT [dbo].[DatPhong] ([DatPhongId], [KhachHangId], [PhongId], [NgayNhanPhong], [NgayTraPhong], [TongTien]) VALUES (1, 1, 1, CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'2026-04-03T00:00:00.000' AS DateTime), 600000.0000)
INSERT [dbo].[DatPhong] ([DatPhongId], [KhachHangId], [PhongId], [NgayNhanPhong], [NgayTraPhong], [TongTien]) VALUES (2, 2, 2, CAST(N'2026-04-02T00:00:00.000' AS DateTime), CAST(N'2026-04-07T00:00:00.000' AS DateTime), 2500000.0000)
INSERT [dbo].[DatPhong] ([DatPhongId], [KhachHangId], [PhongId], [NgayNhanPhong], [NgayTraPhong], [TongTien]) VALUES (3, 3, 3, CAST(N'2026-04-05T00:00:00.000' AS DateTime), CAST(N'2026-04-10T00:00:00.000' AS DateTime), 5000000.0000)
SET IDENTITY_INSERT [dbo].[DatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangId], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiemTichLuy]) VALUES (1, N'Nguyễn Thị Như Ý', N'0976865432', N'nhuy@gmail.com', CAST(N'2000-01-01' AS Date), 0)
INSERT [dbo].[KhachHang] ([KhachHangId], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiemTichLuy]) VALUES (2, N'Trần Thị Thùy', N'0987654321', N'thuy@gmail.com', CAST(N'1999-05-10' AS Date), 0)
INSERT [dbo].[KhachHang] ([KhachHangId], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiemTichLuy]) VALUES (3, N'Đỗ Ngọc Hải', N'0388799476', N'hai@gmail.com', CAST(N'2001-03-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([PhongId], [TenPhong], [LoaiPhong], [GiaPhong], [TrangThai]) VALUES (1, N'101', N'Đơn', CAST(300000.00 AS Decimal(12, 2)), N'Đã thuê')
INSERT [dbo].[Phong] ([PhongId], [TenPhong], [LoaiPhong], [GiaPhong], [TrangThai]) VALUES (2, N'102', N'Đôi', CAST(500000.00 AS Decimal(12, 2)), N'Đã thuê')
INSERT [dbo].[Phong] ([PhongId], [TenPhong], [LoaiPhong], [GiaPhong], [TrangThai]) VALUES (3, N'103', N'VIP', CAST(1000000.00 AS Decimal(12, 2)), N'Trống')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BDA355444F]    Script Date: 4/27/2026 9:53:32 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_Phong] FOREIGN KEY([PhongId])
REFERENCES [dbo].[Phong] ([PhongId])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_Phong]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_Ngay] CHECK  (([NgayTraPhong]>[NgayNhanPhong]))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_Ngay]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([DiemTichLuy]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([GiaPhong]>(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Bảo trì' OR [TrangThai]=N'Đã thuê' OR [TrangThai]=N'Trống'))
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachDatPhong]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DanhSachDatPhong]
AS
BEGIN
    SELECT 
        kh.HoTen,
        p.TenPhong,
        p.GiaPhong,
        dp.NgayNhanPhong,
        dp.NgayTraPhong,
        DATEDIFF(DAY, dp.NgayNhanPhong, dp.NgayTraPhong) * p.GiaPhong AS TongTien
    FROM [DatPhong] dp
    JOIN [KhachHang] kh ON dp.KhachHangId = kh.KhachHangId
    JOIN [Phong] p ON dp.PhongId = p.PhongId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemDatPhong]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemDatPhong]
    @KhachHangId INT,
    @PhongId INT,
    @NgayNhan DATETIME,
    @NgayTra DATETIME
AS
BEGIN
    IF (@NgayTra <= @NgayNhan)
    BEGIN
        PRINT N'Lỗi: Ngày trả phải sau ngày nhận';
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM [Phong]
        WHERE [PhongId] = @PhongId AND [TrangThai] = N'Đã thuê'
    )
    BEGIN
        PRINT N'Lỗi: Phòng đã được thuê';
        RETURN;
    END

    INSERT INTO [DatPhong] ([KhachHangId], [PhongId], [NgayNhanPhong], [NgayTraPhong])
    VALUES (@KhachHangId, @PhongId, @NgayNhan, @NgayTra);

    UPDATE [Phong]
    SET [TrangThai] = N'Đã thuê'
    WHERE [PhongId] = @PhongId;

    PRINT N'Thêm đặt phòng thành công';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhTongTien]    Script Date: 4/27/2026 9:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhTongTien]
    @PhongId INT,
    @NgayNhan DATETIME,
    @NgayTra DATETIME,
    @TongTien MONEY OUTPUT
AS
BEGIN
    DECLARE @GiaPhong DECIMAL(12,2);
    DECLARE @SoNgay INT;

    SELECT @GiaPhong = [GiaPhong]
    FROM [Phong]
    WHERE [PhongId] = @PhongId;

    SET @SoNgay = DATEDIFF(DAY, @NgayNhan, @NgayTra);

    IF (@SoNgay <= 0)
        SET @SoNgay = 1;

    SET @TongTien = @SoNgay * @GiaPhong;
END;
GO
USE [master]
GO
