USE [master]
GO
/****** Object:  Database [QuanLyCamCo]    Script Date: 5/8/2026 10:32:11 PM ******/
CREATE DATABASE [QuanLyCamCo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamCo', FILENAME = N'E:\csdl_he_quan_tri\QuanLyCamCo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamCo_log', FILENAME = N'E:\csdl_he_quan_tri\QuanLyCamCo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamCo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamCo]
GO
/****** Object:  UserDefinedTableType [dbo].[DS_TAI_SAN]    Script Date: 5/8/2026 10:32:11 PM ******/
CREATE TYPE [dbo].[DS_TAI_SAN] AS TABLE(
	[TenTaiSan] [nvarchar](100) NULL,
	[LoaiTaiSan] [nvarchar](50) NULL,
	[GiaTriThamDinh] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](300) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/8/2026 10:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN

    DECLARE @TongTien DECIMAL(18,2);

    SET @TongTien =
        dbo.fn_CalcMoneyTransaction
        (
            @ContractID,
            @TargetDate
        );

    RETURN @TongTien;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 5/8/2026 10:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @TransactionID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN

    DECLARE
        @TienGoc DECIMAL(18,2),
        @NgayVay DATE,
        @Deadline1 DATE,

        @SoNgayTrongHan INT,
        @SoNgayQuaHan INT,

        @LaiDon DECIMAL(18,2),
        @TongSauLaiDon DECIMAL(18,2),

        @TongTien DECIMAL(18,2);

    SELECT
        @TienGoc = TienGoc,
        @NgayVay = NgayVay,
        @Deadline1 = HanTra1
    FROM HOP_DONG
    WHERE MaHD = @TransactionID;

    ----------------------------------------
    -- TRƯỚC DEADLINE 1
    ----------------------------------------

    IF @TargetDate <= @Deadline1
    BEGIN

        SET @SoNgayTrongHan =
            DATEDIFF(DAY, @NgayVay, @TargetDate);

        SET @LaiDon =
            (@TienGoc / 1000000.0)
            * 5000
            * @SoNgayTrongHan;

        RETURN @TienGoc + @LaiDon;
    END

    ----------------------------------------
    -- LÃI ĐƠN
    ----------------------------------------

    SET @SoNgayTrongHan =
        DATEDIFF(DAY, @NgayVay, @Deadline1);

    SET @LaiDon =
        (@TienGoc / 1000000.0)
        * 5000
        * @SoNgayTrongHan;

    SET @TongSauLaiDon =
        @TienGoc + @LaiDon;

    ----------------------------------------
    -- LÃI KÉP
    ----------------------------------------

    SET @SoNgayQuaHan =
        DATEDIFF(DAY, @Deadline1, @TargetDate);

    SET @TongTien =
        @TongSauLaiDon
        * POWER(1.005, @SoNgayQuaHan);

    RETURN @TongTien;

END;
GO
/****** Object:  Table [dbo].[BIEN_DONG_HOP_DONG]    Script Date: 5/8/2026 10:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIEN_DONG_HOP_DONG](
	[MaBD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[ThoiGian] [datetime] NULL,
	[LoaiBienDong] [nvarchar](50) NULL,
	[SoTien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_CAM_CO]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CAM_CO](
	[MaHD] [int] NOT NULL,
	[MaTS] [int] NOT NULL,
	[NgayCamCo] [date] NULL,
	[DaTra] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayVay] [date] NOT NULL,
	[HanTra1] [date] NOT NULL,
	[TienGoc] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Deadline2] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](20) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_THANH_TOAN]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_THANH_TOAN](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayTra] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NguoiThuTien] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_SAN]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_SAN](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiSan] [nvarchar](100) NOT NULL,
	[LoaiTaiSan] [nvarchar](50) NULL,
	[GiaTriThamDinh] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](300) NULL,
	[IsSold] [bit] NULL,
	[TrangThaiTaiSan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BIEN_DONG_HOP_DONG] ON 

INSERT [dbo].[BIEN_DONG_HOP_DONG] ([MaBD], [MaHD], [ThoiGian], [LoaiBienDong], [SoTien], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-08T18:46:53.417' AS DateTime), N'Tạo hợp đồng', CAST(30000000.00 AS Decimal(18, 2)), N'Đăng ký khoản vay mới')
INSERT [dbo].[BIEN_DONG_HOP_DONG] ([MaBD], [MaHD], [ThoiGian], [LoaiBienDong], [SoTien], [GhiChu]) VALUES (2, 2, CAST(N'2026-05-08T19:11:42.640' AS DateTime), N'Trả nợ', CAST(10000000.00 AS Decimal(18, 2)), N'Khách thanh toán')
INSERT [dbo].[BIEN_DONG_HOP_DONG] ([MaBD], [MaHD], [ThoiGian], [LoaiBienDong], [SoTien], [GhiChu]) VALUES (3, 2, CAST(N'2026-05-08T19:11:42.643' AS DateTime), N'Còn nợ', CAST(83208500.00 AS Decimal(18, 2)), N'Số tiền còn nợ sau thanh toán')
SET IDENTITY_INSERT [dbo].[BIEN_DONG_HOP_DONG] OFF
GO
INSERT [dbo].[CHI_TIET_CAM_CO] ([MaHD], [MaTS], [NgayCamCo], [DaTra]) VALUES (1, 1, CAST(N'2026-05-08' AS Date), NULL)
INSERT [dbo].[CHI_TIET_CAM_CO] ([MaHD], [MaTS], [NgayCamCo], [DaTra]) VALUES (1, 2, CAST(N'2026-05-08' AS Date), NULL)
INSERT [dbo].[CHI_TIET_CAM_CO] ([MaHD], [MaTS], [NgayCamCo], [DaTra]) VALUES (2, 3, CAST(N'2026-05-08' AS Date), 0)
GO
SET IDENTITY_INSERT [dbo].[HOP_DONG] ON 

INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [HanTra1], [TienGoc], [TrangThai], [Deadline2]) VALUES (1, 1, CAST(N'2026-05-08' AS Date), CAST(N'2026-06-08' AS Date), CAST(30000000.00 AS Decimal(18, 2)), N'Đang vay', CAST(N'2026-07-08' AS Date))
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [HanTra1], [TienGoc], [TrangThai], [Deadline2]) VALUES (2, 2, CAST(N'2026-01-01' AS Date), CAST(N'2026-02-01' AS Date), CAST(50000000.00 AS Decimal(18, 2)), N'Đã thanh lý', CAST(N'2026-03-01' AS Date))
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [HanTra1], [TienGoc], [TrangThai], [Deadline2]) VALUES (3, 1, CAST(N'2026-05-01' AS Date), CAST(N'2026-06-01' AS Date), CAST(30000000.00 AS Decimal(18, 2)), N'Đang vay', CAST(N'2026-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[HOP_DONG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (1, N'Nguyễn Văn Anh', N'097685467789', N'0377955410', N'Hà Nội', CAST(N'2026-05-08T18:46:53.410' AS DateTime))
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (2, N'Lê Văn Cầm', N'088888888888', N'0909999999', N'Thái Nguyên', CAST(N'2026-05-08T19:10:23.330' AS DateTime))
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (3, N'Nguyễn Văn A', N'001122334455', N'0988111111', N'Hà Nội', CAST(N'2026-05-08T19:35:11.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
SET IDENTITY_INSERT [dbo].[TAI_SAN] ON 

INSERT [dbo].[TAI_SAN] ([MaTS], [TenTaiSan], [LoaiTaiSan], [GiaTriThamDinh], [MoTa], [IsSold], [TrangThaiTaiSan]) VALUES (1, N'iPhone 15', N'Điện thoại', CAST(25000000.00 AS Decimal(18, 2)), N'Màu đen', NULL, NULL)
INSERT [dbo].[TAI_SAN] ([MaTS], [TenTaiSan], [LoaiTaiSan], [GiaTriThamDinh], [MoTa], [IsSold], [TrangThaiTaiSan]) VALUES (2, N'Xe SH Mode', N'Xe máy', CAST(45000000.00 AS Decimal(18, 2)), N'Biển số chính chủ', NULL, NULL)
INSERT [dbo].[TAI_SAN] ([MaTS], [TenTaiSan], [LoaiTaiSan], [GiaTriThamDinh], [MoTa], [IsSold], [TrangThaiTaiSan]) VALUES (3, N'MacBook Pro M4', N'Laptop', CAST(60000000.00 AS Decimal(18, 2)), N'Laptop cá nhân', 1, N'Đã bán thanh lý')
SET IDENTITY_INSERT [dbo].[TAI_SAN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_HA__A955A0AA458C9C16]    Script Date: 5/8/2026 10:32:12 PM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BIEN_DONG_HOP_DONG] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[BIEN_DONG_HOP_DONG] ADD  DEFAULT ((0)) FOR [SoTien]
GO
ALTER TABLE [dbo].[CHI_TIET_CAM_CO] ADD  DEFAULT (getdate()) FOR [NgayCamCo]
GO
ALTER TABLE [dbo].[CHI_TIET_CAM_CO] ADD  DEFAULT ((0)) FOR [DaTra]
GO
ALTER TABLE [dbo].[HOP_DONG] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LOG_THANH_TOAN] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TAI_SAN] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[TAI_SAN] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTaiSan]
GO
ALTER TABLE [dbo].[BIEN_DONG_HOP_DONG]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_CAM_CO]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_CAM_CO]  WITH CHECK ADD FOREIGN KEY([MaTS])
REFERENCES [dbo].[TAI_SAN] ([MaTS])
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
/****** Object:  StoredProcedure [dbo].[SP_DANG_KY_HOP_DONG]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DANG_KY_HOP_DONG]
(
    @HoTen NVARCHAR(100),
    @CCCD VARCHAR(20),
    @SoDienThoai VARCHAR(15),
    @DiaChi NVARCHAR(200),

    @TienGoc DECIMAL(18,2),

    @NgayVay DATE,
    @Deadline1 DATE,
    @Deadline2 DATE,

    @DanhSachTaiSan DS_TAI_SAN READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @MaKH INT;
        DECLARE @MaHD INT;

        ------------------------------------------------
        -- 1. KIỂM TRA KHÁCH HÀNG ĐÃ TỒN TẠI CHƯA
        ------------------------------------------------

        SELECT @MaKH = MaKH
        FROM KHACH_HANG
        WHERE CCCD = @CCCD;

        ------------------------------------------------
        -- 2. NẾU CHƯA CÓ -> THÊM MỚI
        ------------------------------------------------

        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KHACH_HANG
            (
                HoTen,
                CCCD,
                SoDienThoai,
                DiaChi
            )
            VALUES
            (
                @HoTen,
                @CCCD,
                @SoDienThoai,
                @DiaChi
            );

            SET @MaKH = SCOPE_IDENTITY();
        END

        ------------------------------------------------
        -- 3. TẠO HỢP ĐỒNG
        ------------------------------------------------

        INSERT INTO HOP_DONG
        (
            MaKH,
            NgayVay,
            HanTra1,
            Deadline2,
            TienGoc,
            TrangThai
        )
        VALUES
        (
            @MaKH,
            @NgayVay,
            @Deadline1,
            @Deadline2,
            @TienGoc,
            N'Đang vay'
        );

        SET @MaHD = SCOPE_IDENTITY();

        ------------------------------------------------
        -- 4. THÊM TÀI SẢN
        ------------------------------------------------

        DECLARE @MaTS INT;

        DECLARE curTaiSan CURSOR FOR
        SELECT
            TenTaiSan,
            LoaiTaiSan,
            GiaTriThamDinh,
            MoTa
        FROM @DanhSachTaiSan;

        DECLARE
            @TenTS NVARCHAR(100),
            @LoaiTS NVARCHAR(50),
            @GiaTri DECIMAL(18,2),
            @MoTa NVARCHAR(300);

        OPEN curTaiSan;

        FETCH NEXT FROM curTaiSan
        INTO
            @TenTS,
            @LoaiTS,
            @GiaTri,
            @MoTa;

        WHILE @@FETCH_STATUS = 0
        BEGIN

            ----------------------------------------
            -- THÊM TÀI SẢN
            ----------------------------------------

            INSERT INTO TAI_SAN
            (
                TenTaiSan,
                LoaiTaiSan,
                GiaTriThamDinh,
                MoTa
            )
            VALUES
            (
                @TenTS,
                @LoaiTS,
                @GiaTri,
                @MoTa
            );

            SET @MaTS = SCOPE_IDENTITY();

            ----------------------------------------
            -- LIÊN KẾT HỢP ĐỒNG - TÀI SẢN
            ----------------------------------------

            INSERT INTO CHI_TIET_CAM_CO
            (
                MaHD,
                MaTS
            )
            VALUES
            (
                @MaHD,
                @MaTS
            );

            FETCH NEXT FROM curTaiSan
            INTO
                @TenTS,
                @LoaiTS,
                @GiaTri,
                @MoTa;
        END

        CLOSE curTaiSan;
        DEALLOCATE curTaiSan;

        ------------------------------------------------
        -- 5. GHI NHẬN BIẾN ĐỘNG ĐẦU TIÊN
        ------------------------------------------------

        INSERT INTO BIEN_DONG_HOP_DONG
        (
            MaHD,
            LoaiBienDong,
            SoTien,
            GhiChu
        )
        VALUES
        (
            @MaHD,
            N'Tạo hợp đồng',
            @TienGoc,
            N'Đăng ký khoản vay mới'
        );

        COMMIT TRANSACTION;

        PRINT N'Đăng ký hợp đồng thành công';

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;

        PRINT N'Có lỗi xảy ra';
        PRINT ERROR_MESSAGE();

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GIA_HAN_HOP_DONG]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GIA_HAN_HOP_DONG]
(
    @MaHD INT,
    @SoNgayGiaHan INT
)
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE
        @TienLai DECIMAL(18,2);

    ----------------------------------------
    -- TÍNH LÃI HIỆN TẠI
    ----------------------------------------

    SET @TienLai =
        dbo.fn_CalcMoneyContract
        (
            @MaHD,
            GETDATE()
        )

        -

        (
            SELECT TienGoc
            FROM HOP_DONG
            WHERE MaHD = @MaHD
        );

    ----------------------------------------
    -- GHI LOG
    ----------------------------------------

    INSERT INTO BIEN_DONG_HOP_DONG
    (
        MaHD,
        LoaiBienDong,
        SoTien,
        GhiChu
    )
    VALUES
    (
        @MaHD,
        N'Gia hạn',
        @TienLai,
        N'Khách trả lãi để gia hạn'
    );

    ----------------------------------------
    -- DỜI DEADLINE
    ----------------------------------------

    UPDATE HOP_DONG
    SET
        HanTra1 =
            DATEADD
            (
                DAY,
                @SoNgayGiaHan,
                HanTra1
            ),

        Deadline2 =
            DATEADD
            (
                DAY,
                @SoNgayGiaHan,
                Deadline2
            ),

        TrangThai =
            N'Đang vay'

    WHERE MaHD = @MaHD;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TRA_NO]    Script Date: 5/8/2026 10:32:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TRA_NO]
(
    @MaHD INT,
    @SoTienTra DECIMAL(18,2)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        ----------------------------------------
        -- KHAI BÁO
        ----------------------------------------

        DECLARE
            @Deadline2 DATE,
            @TongNo DECIMAL(18,2),
            @ConNo DECIMAL(18,2),

            @DaThanhLy INT;

        ----------------------------------------
        -- LẤY DEADLINE2
        ----------------------------------------

        SELECT
            @Deadline2 = Deadline2
        FROM HOP_DONG
        WHERE MaHD = @MaHD;

        ----------------------------------------
        -- KIỂM TRA ĐÃ THANH LÝ CHƯA
        ----------------------------------------

        SELECT
            @DaThanhLy = COUNT(*)
        FROM CHI_TIET_CAM_CO ct
        JOIN TAI_SAN ts
            ON ct.MaTS = ts.MaTS
        WHERE ct.MaHD = @MaHD
        AND ts.IsSold = 1;

        ----------------------------------------
        -- NẾU ĐÃ THANH LÝ
        ----------------------------------------

        IF GETDATE() > @Deadline2
           AND @DaThanhLy > 0
        BEGIN

            PRINT N'Tài sản đã thanh lý. Không thu tiền và không trả đồ';

            ROLLBACK TRANSACTION;
            RETURN;
        END

        ----------------------------------------
        -- TÍNH TỔNG NỢ
        ----------------------------------------

        SET @TongNo =
            dbo.fn_CalcMoneyContract
            (
                @MaHD,
                GETDATE()
            );

        ----------------------------------------
        -- TÍNH CÒN NỢ
        ----------------------------------------

        SET @ConNo =
            @TongNo - @SoTienTra;

        ----------------------------------------
        -- GHI LOG TRẢ NỢ
        ----------------------------------------

        INSERT INTO BIEN_DONG_HOP_DONG
        (
            MaHD,
            LoaiBienDong,
            SoTien,
            GhiChu
        )
        VALUES
        (
            @MaHD,
            N'Trả nợ',
            @SoTienTra,
            N'Khách thanh toán'
        );

        ----------------------------------------
        -- NẾU ĐÃ THANH TOÁN HẾT
        ----------------------------------------

        IF @ConNo <= 0
        BEGIN

            --------------------------------
            -- CẬP NHẬT HỢP ĐỒNG
            --------------------------------

            UPDATE HOP_DONG
            SET TrangThai =
                N'Đã thanh toán đủ'
            WHERE MaHD = @MaHD;

            --------------------------------
            -- TRẢ TOÀN BỘ TÀI SẢN
            --------------------------------

            UPDATE CHI_TIET_CAM_CO
            SET DaTra = 1
            WHERE MaHD = @MaHD;

            PRINT N'Đã thanh toán hết nợ';
            PRINT N'Trả toàn bộ tài sản';

        END

        ELSE
        BEGIN

            --------------------------------
            -- CẬP NHẬT TRẠNG THÁI
            --------------------------------

            UPDATE HOP_DONG
            SET TrangThai =
                N'Đang trả góp'
            WHERE MaHD = @MaHD;

            --------------------------------
            -- GHI NHẬN CÒN NỢ
            --------------------------------

            INSERT INTO BIEN_DONG_HOP_DONG
            (
                MaHD,
                LoaiBienDong,
                SoTien,
                GhiChu
            )
            VALUES
            (
                @MaHD,
                N'Còn nợ',
                @ConNo,
                N'Số tiền còn nợ sau thanh toán'
            );

            PRINT N'Khách chưa trả hết';
            PRINT N'Số tiền còn nợ: '
                + CAST(@ConNo AS NVARCHAR);

        END

        ----------------------------------------
        -- GỢI Ý TÀI SẢN CÓ THỂ TRẢ
        ----------------------------------------

        PRINT N'Danh sách tài sản có thể trả:';

        SELECT
            ts.MaTS,
            ts.TenTaiSan,
            ts.GiaTriThamDinh
        FROM CHI_TIET_CAM_CO ct
        JOIN TAI_SAN ts
            ON ct.MaTS = ts.MaTS
        WHERE ct.MaHD = @MaHD
        AND ct.DaTra = 0
        AND
        (
            (
                SELECT
                    SUM(ts2.GiaTriThamDinh)
                FROM CHI_TIET_CAM_CO ct2
                JOIN TAI_SAN ts2
                    ON ct2.MaTS = ts2.MaTS
                WHERE ct2.MaHD = @MaHD
                AND ct2.DaTra = 0
            )
            - ts.GiaTriThamDinh
        ) >= @ConNo;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;

        PRINT ERROR_MESSAGE();

    END CATCH

END;
GO
USE [master]
GO
